*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app\src\main\java\com\lxw\videoworld\app\config\Constant.java
app\src\main\java\com\lxw\videoworld\app\ui\MainActivity.java
app\src\main\java\com\lxw\videoworld\app\ui\SearchActivity.java
app\src\main\java\com\lxw\videoworld\app\ui\SourceTypeFragment.java
app\src\main\java\com\lxw\videoworld\app\widget\DownloadManagerDialog.java
app\src\main\java\com\lxw\videoworld\framework\application\BaseApplication.java
